//Правильное подключение шрифтов!!
// @font-face {
//     font-family: "RobotoSlab-VariableFont_wght";
//     src: url('../fonts/RobotoSlab/RobotoSlab-VariableFont_wght.eot');
//     src: local('вє'), url('../fonts/RobotoSlab/RobotoSlab-VariableFont_wght.woff') format('woff'), url('../fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf') format('truetype'), url('../fonts/RobotoSlab/RobotoSlab-VariableFont_wght.svg') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ReemKufi-Regular';
//     src: url('../fonts/ReemKufi/ReemKufi-Regular.eot');
//     src: local('вє'), url('../fonts/ReemKufi/ReemKufi-Regular.woff') format('woff'), url("../fonts/ReemKufi/ReemKufi-Regular.ttf') format('truetype'), url('../fonts/ReemKufi/ReemKufi-Regular.svg') format('svg');
//     font-weight: normal;
//     font-style: italic;
// } //Разобраться с @font-face, хотя бы в том же Pickachu

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

//Переменные
$maxWidthDisplay: 1440;
$RobotoSlab: "Roboto Slab", serif;
$R: 'Reem Kufi', sans-serif;
$w: white;
$b: black;
$g: green;
$r: red;
$fsize_1: 65px;
$fsize_2: 25px;
$fsize_3: 18px;
$fsize_4: 30px;
$fsize_5: 15px;
$fsize_6: 13px;
$lColor: #FF6B00;
$ContainerHeight: 150px;
$fChoice: 18px;
$trans: .8s;
$trans2: .6s;

//Миксины
//Кнопки выбора судьбы Фримана
@mixin ChoiceFrimansButtons($width, $radius, $background, $background2) { 
    width: $width;
    border-radius: $radius;
    background: $background;
    transition: $trans2;
    text-align: center;
    font-size: $fsize_3;
    border: 1px solid $w;
    padding: 5px;
    cursor: pointer;
    color: $w;

    &:hover {
       transform: scale(.8);
       box-shadow: 0 0 30px $background2;  
       background: $background2;
    } 
}

@mixin text2-start($steps, $steps2, $secs) {
    width: $steps;
    animation: count-start $secs steps($steps2), flashing-border 1s step-start infinite;

    @keyframes count-start {
       from {
         width: 0;
         opacity: 1;
       } 

       to {
         width: $steps;   
       }
    }
}

@mixin text2-end($steps, $steps2, $secs) {
    width: $steps;
    animation: count-end $secs steps($steps2), flashing-border 1s step-start infinite; 

    @keyframes count-end {
       from {
         width: $steps;
       }   

       to {
         width: 0;
         opacity: 0;
       }
    }
}

//Для адаптивного шрифта ${} in JS === # {} in SASS
@mixin adaptiv_shrift($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidthDisplay}));
    }

    @media (min-width: 767px) {
       font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidthDisplay})); 
    }
}